/* shared styles */

.banner {
    position: relative;
    text-align: center;
    color: white;
}

/* banner styles */

.banner-title{
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    /* Happy New Year */
    position: absolute;
    width: 300px;
    left: 600px;
    top: 150px;
}
.banner-subtitle{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    /* New Year Party Celebration */
    position: absolute;
    width: 600px;
    left: 450px;
    top: 200px;
}

/* holiday offer 60% */

.offer-container{
    text-align: center;
}

.sale{
    color: red;
    font-family: Inter;
    font-size: 50px;
    margin-top: 120px;
}

.sale-title{
    color: red;
    font-family: Inter;
    font-size: 20px;
}

.category{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 32px;
}

/* party related styles */

.party-container{
    margin-top: 120px;
    position: relative;
    text-align: center;
    color: white;
}

.party-title{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 65px;
    font-weight: 900;
    text-align: left;

    /* Welcome to midnight party */
    position: absolute;
    width: 500px;
    /* height: 100px; */
    left: 200px;
    /* right: -900px; */
    top: 50px;
    /* bottom: -150px; */
}

.party-description{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;

    position: absolute;
    width: 700px;
    left: 200px;
    top: 280px;
}

.join{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-align: left;

    position: absolute;
    width: 700px;
    left: 200px;
    top: 400px;
    border: none;
    background: transparent;
}

.party-column2{
/* Layer 1 */
position: absolute;
width: 400px;
right: 150px;
top: 50px;
}

/* party time related styles */
.party-time-container{
    margin-top: 120px;
    position:relative;
    width: 1320px;
    height: 482px;
    left: 85px;
    text-align: center;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}

.party-time{
    padding-top: 65px;
    font-family: Inter;
    font-size: 32px;
    font-weight: 200;
}
.party-time .red{
    color: red;
}
.party-time-container button{
    border-radius: 5px;
    background: red;
    border: 0px;
    padding: 15px 35px;
    color: white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;

}

/* offer coming soon */
